.categoryBadge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 100px;
  max-width: 150px;
  height: 22px;

  padding: 2px 10px;
  border: 2px solid #919191;
  border-radius: 10px;

  color: #888888;
  font-size: 18px;
}
