.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  width: 491px;
  height: 275px;
  padding: 13px 16px;
}

.topContent,
.bottomContent {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.centerContent {
  width: 420px;
  height: 150px;
  margin-top: -5px;
}

.bottomContent {
  margin-bottom: -3px;
  height: 30px;
}
