.root {
  width: 100%;
  height: 100%;
  margin: 0 0 0 20px;
  padding: 0;
  word-break: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: var(--font-size);
  line-height: var(--line-height);
  -webkit-box-orient: vertical;
}

.positive {
  color: #8d7777;
}

.negative {
  color: #77898d;
}

.root::marker {
  color: #555555;
}
