.root {
  position: relative;
  width: 30px;
  height: 30px;
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.hideIcon {
  opacity: 0;
}

.showIcon {
  opacity: 1;
}
