.root {
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  margin: 0;
}

/* サイズ */
.small {
  column-gap: 5px;
}

.medium {
  column-gap: 8px;
}

.large {
  column-gap: 11px;
}

/* タイプ */
.user {
  column-gap: 10px;
}

.nav {
  height: 40px;
  padding: 0 5px;
}

.time {
  color: #8b8b8b;
  column-gap: 5px;
}
