.button {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 124px;
  height: 44px;

  background-color: #cecdcb;
  border: none;
  border-radius: 10px;

  font-family: inherit;
  color: #555555;
  font-size: 24px;
  cursor: pointer;
}

.button:hover {
  background-color: #bebebe;
}

.root {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.root:hover {
  background-color: #00000010;
}
