/* 基本のスタイル */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  cursor: pointer;
  backface-visibility: hidden;
}

/* size */
.small {
  width: 124px;
  height: 44px;
  border-radius: 10px;
}

.medium {
  width: 100px;
  height: 36px;
  border-radius: 10px;
  font-size: 18px;
}

.large {
  width: 124px;
  height: 44px;
  border-radius: 10px;
  font-size: 24px;
}

/* variant */

/* primary */
.primary {
  background-color: #737272;
  border: none;
  color: #eeeeee;
  box-shadow: 0px 2px 3px 0px #00000050;
}

.primary:hover {
  background-color: #00000060;
}

/* secondary */
.secondary {
  background-color: #eeeeee;
  border: 2px solid #737272;
  color: #737272;
  box-shadow: 0px 2px 5px 0px #00000050;
}

.secondary:hover {
  background-color: #00000020;
}

/* search */
.search {
  background-color: #cecdcb;
  border: none;
  color: #555555;
  font-size: 24px;
}

.search:hover {
  background-color: #bebebe;
}

/* icon */
.icon {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 0;
  width: 30px;
  height: 30px;
}

.icon:hover {
  background-color: #00000010;
}
