.improvementContainer {
  position: relative;
}

.improvementContainer > *:first-child {
  position: absolute;
  top: -4px;
  left: -20px;
}

.improvementContent {
  margin: 0 0 0 20px;
  padding: 0;
}

.improvementContent li::marker {
  color: #555555;
}
