.lesson {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 15px;
}

.lessonContents {
  border: 2px solid #69696985;
  border-radius: 10px;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  margin: 0;
  width: fit-content;
}

.lessonContents {
  padding: 15px 15px 15px 35px;
}

.lessonContent {
  margin: 0;
  padding: 2px 0;
}
