.trigger {
  height: 46px;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;

  background-color: transparent;
  border: none;
  border-radius: 10px;
  outline: none;

  font-family: inherit;
  cursor: pointer;
}

.chevron {
  position: absolute;
  right: 0;
  padding: 0 10px;
  transition: transform 0.1s ease-in-out;
}

.trigger[data-type="large"] {
  display: flex;
  align-items: center;
}

.trigger[data-type="large"] > .chevron {
  position: static;
  margin-left: auto;
}

.trigger:hover {
  background-color: #0000001a;
}

.trigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}

.navLink {
  display: flex;
  align-items: center;

  height: 30px;
  margin: 0 -10px;
  padding: 3px 10px;

  border-radius: 8px;

  color: #555555;
  font-size: 20px;
  text-decoration: none;
}

.navLink:hover {
  background-color: #0000001a;
}

.menu {
  position: relative;
  margin: 3px 5px;
  list-style: none;
}

.menu::before {
  content: "";
  position: absolute;
  left: 15px;
  top: 3%;
  bottom: 2%;

  width: 2px;

  background-color: #c2c2c2;
  border-left: 3px solid #c2c2c2;
  border-radius: 30px;
}

.content[data-type="large"] > .menu {
  margin: 8px 10px;
}

.content[data-state="open"] {
  animation: slideDown 0.15s ease;
}

.content[data-state="closed"] {
  animation: slideUp 0.15s ease;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }
  to {
    max-height: 200px;
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    max-height: 200px;
    opacity: 1;
  }
  to {
    max-height: 0;
    opacity: 0;
  }
}
