.trigger {
  border: none;
  outline: none;

  all: inherit;
  cursor: pointer;

  width: calc(100% - 70px);
  line-height: 1.4;
  white-space: pre-wrap;
  margin-left: 12px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
  padding: 0;
  gap: 15px;
}
