.icon {
  position: relative;
}

.color,
.faceLayer,
.border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.color {
  border-radius: 50%;
  background-color: var(--color);
}

.border {
  border-radius: 50%;
  border: 1px solid #555555;
  box-sizing: border-box;
}

/* サイズ */
.small {
  width: 40px;
  height: 40px;
  min-width: 40px;
}

.medium {
  width: 45px;
  height: 45px;
  min-width: 45px;
}

.large {
  width: 50px;
  height: 50px;
  min-width: 50px;
}
