.trigger {
  border: none;
  outline: none;

  all: inherit;
  cursor: pointer;
}

.experienceContent {
  border: 2px solid #69696985;
  border-radius: 10px;
  box-shadow: 0 6px 6px -6px rgba(0, 0, 0, 0.5);
  margin: 0;
  width: fit-content;
  padding: 15px 15px 15px 18px;
  white-space: pre-wrap;
}
