.root {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.headLabel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
