.root {
  position: relative;
  width: 800px;
  padding: 10px;
  margin-bottom: 20px;
}

.textboxContainer {
  display: flex;
  width: calc(100% - 70px);
  flex-direction: column;
  position: relative;
  left: 70px;
  gap: 15px;
  line-height: 1.3;
  white-space: pre-wrap;
}
