.root {
  position: relative;
  width: 800px;
  padding: 10px;
}

.trigger {
  border: none;
  outline: none;

  all: inherit;
  cursor: pointer;
}

.chevron:hover {
  background-color: #0000001a;
  border-radius: 50%;
}

.userInfo {
  display: inline-flex;
  align-items: center;
}

.chevron {
  padding: 6px;
}

.trigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}

.textboxContainer {
  width: calc(100% - 70px);
  position: relative;
  left: 12px;
  line-height: 1.3;
  white-space: pre-wrap;
}
