.card {
  position: relative;

  width: 471px;
  height: 250px;
  padding: 10px;

  border: 2px solid #69696985;
  border-radius: 10px;
  box-shadow: 0 7px 7px -6px rgba(0, 0, 0, 0.5);
}

.userName {
  position: absolute;
  top: 5px;
  left: 20px;
}

.jobBadge {
  position: absolute;
  top: 16px;
  right: 12px;
}

.description {
  position: absolute;
  top: 61px;
  left: 40px;

  width: 420px;
  height: 150px;

  margin: 0;
  line-height: 1.6;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;

  white-space: pre-wrap;
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
}

.postCategory {
  position: absolute;
  bottom: 9px;
  left: 20px;
}

.postTime {
  position: absolute;
  bottom: -2px;
  right: 25px;
}
