.centerContent {
  position: relative;
  left: 22%;
  margin-top: 10px;
  width: 800px;
}

.rightSideContent {
  position: fixed;
  top: 0;
  left: 1250px;

  display: flex;
  flex-direction: column;

  gap: 20px;
  padding: 25px 80px;
}
