.trigger {
  height: 34px;
  width: 150px;
  color: #666666;
  font-family: inherit;
  font-size: 20px;
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  padding: 0 13px;
  cursor: pointer;
}

.trigger[data-group="normal"] {
  border: 1px solid #a5a5a5;
  justify-content: space-between;
}

.trigger[data-group="group"] {
  border: none;
  justify-content: center;
}

.trigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}

.trigger:hover {
  background-color: #0000001a;
}

.chevron {
  margin-left: 10px;
}

.content {
  width: 140px;
  border: 1px solid #a5a5a5;
  border-radius: 8px;
  background-color: #eaeaea;
  padding: 5px 10px;
  margin-top: 25%;
  justify-content: center;
}

.item {
  color: #666666;
  font-size: 16px;
  padding: 4px 2px;
  outline: none;
  cursor: pointer;
}

.item:hover {
  background-color: #0000001a;
  border-radius: 5px;
  padding: 4px 2px;
}
