.root {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 481px;
  border: 2px solid #bbbbbb;
  border-radius: 12px;
}
