.root {
  height: 44px;
  width: inherit;
}

.trigger {
  font-family: inherit;
  border: none;
  outline: none;
  background-color: transparent;
  height: 40px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  padding: 0;
  cursor: pointer;
}

.trigger:hover {
  background-color: #0000001a;
}

.navLink {
  text-decoration: none;
  font-size: 20px;
  color: #555555;
  border-radius: 8px;
  width: 160px;
  height: 30px;
  display: flex;
  align-items: center;
  margin: 0 -10px;
  padding: 3px 10px;
}

.navLink:hover {
  background-color: #0000001a;
}

.chevron {
  padding: 0px 5px;
}

.trigger[data-state="open"] > .chevron {
  transform: rotate(180deg);
}

.Content {
  padding: 0;
}

.menu {
  list-style: none;
  margin: 3px 5px;
  position: relative;
}

.menu::before {
  content: "";
  border-left: 3px solid #c2c2c2;
  position: absolute;
  left: 15px;
  top: 3%;
  bottom: 2%;
  width: 2px;
  background-color: #c2c2c2;
  border-radius: 30px;
}
