.field {
  display: flex;
  flex-direction: column;
}

.searchArea {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.input {
  width: 495px;
  height: 52px;
  background-color: #eeeeee;
  border-radius: 15px;
  border: none;
  outline: none;
  box-sizing: border-box;
  border: 2px solid #69696985;
  font-family: inherit;
  font-size: 20px;
  color: inherit;
}

.button {
  display: inline-block;
  margin-left: -130px;
  z-index: 1;
}

.searchConditionList {
  margin-top: 5px;
  margin-left: 7px;
}
